*{
    box-sizing:border-box;
    margin: 0;
}
body{
    font-family: 'Limelight';
    position: relative;
    width: 110%;
    height: auto;  
    background: #F5F5F5;
}
.nav-container{
    background: #F3F3F3;
    height: 119px;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:72px
}
nav ul{
    display: flex;
}
nav .logo{
    width: 408px;
    height: 91px;
}
.nav-items li{
    list-style: none;
    margin-right: 50px;
}
.nav-items li:nth-last-of-type(1){
    margin: 0;
}
.nav-items li a{
    height: 38px;
    text-decoration: none;
    color: black;
}

img{
    max-width: 107%;
    height: auto;
}